
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="login.css">

</head>

<body>
  
<div class="icons3">
    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
</div>

<div class="log-in-card">
<img src="sjcbi.png" img class=sjcbi >
<h1> SAINT JOSEPH'S COLLEGE OF BAGGAO</h1>
  <form class="log-in-form" method="post">
      <h2>LOG IN</h2>
      <div><input type="text" placeholder="Enter ID Number" name="2020-100441" required></div>
      <div class="log_in"><input type="password" placeholder="Enter Password" name="password" required></div>
      <a href="#">Forgot my password!</a>
      <div class="button_login">
        <button onclick="document.location='dashboard.html'">Login</button>
    

      </div>
      <div class="form-item-other">
      <div class="checkbox"><input type="checkbox" id="checkbox" checked>
        <label>Keep me logged In</label></div>
      </div>
  </form>

</div>
</script>
</body>
</html>